@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0D1117;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  .double-up:before {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border: 10px var(--primary) double;
  border-left-style: solid;
  border-radius: 100%; }
  
  @-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  
  @keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }